---
import { OpenAPI, InventoryService, Item } from "../../clover";
import Inventory from '../components/Inventory';
import App from "../App";


OpenAPI.BASE = import.meta.env.CLOVER_BASE_URL;
OpenAPI.TOKEN = import.meta.env.CLOVER_API_KEY;
const items = (await InventoryService.inventoryGetItems(
		import.meta.env.CLOVER_MERCHANT_ID
	))
	.elements
	.filter((item: Item) => item.autoManage) as Item[];

---

<App title="Edgy Veggie">
	<main>
		<Inventory client:load items={items}></Inventory>
	</main>
</App>
