---
import Layout from "../layouts/Layout.astro";
import Inventory from "../components/Inventory";
//https://www.clover.com/online-ordering/edgy-veggie-co-soldotna
---

<Layout title="Edgy Veggies">
  <main>
    <Inventory />
  </main>
</Layout>
